<section class="flat-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-sign-in center">
          <h4>Sign Up</h4>
          <div class="form-sign-in">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <!-- <form action="#" method="post" accept-charset="utf-8"> -->
              <div>
                <div class="form-box">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  <!-- <label for="email">
                    Username or email address *
                  </label>
                  <input type="text" id="email" name="email" > -->
                </div>
                <!-- /.form-box -->
                <div class="form-box">
                  <%= f.label :username %><br />
                  <%= f.text_field :username %>
                </div>

                <!-- <div class="form-box">
                  <%#= f.label :user_type %><br />
                  <%#= f.select :user_type, {"일반 사용자": "customer", "판매자": "seller"}, {}, class: "form-control" %>
                </div> -->

                <div class="form-box">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="form-box">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <!-- /.form-box -->
                <div class="btn-submit">
                  <%= f.button "회원가입", class: "bg-black register" %>
                  <!-- <button class="bg-black register" type="button">REGISTER</button> -->
                </div>
                <%= link_to "또는 로그인", new_user_session_path, class:"create-account" %>
                <!-- <a href="#" class="create-account" title="">OR SIGN IN</a> -->
              </div>
            <!-- </form> -->
            <% end %>
          </div>
          <!-- /.form-sign-in -->
        </div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
