<section class="flat-signin" onload="init();">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-sign-in center">
          <h4></h4>

          <div class="form-sign-in">
            <%= form_for @buying, :url => {:controller => "buying", :action => "create"}, method: :post do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <div>
                <div class="form-box">
                  <%= f.label :shop_id, "식당선택" %>
                  <%= f.select :shop_id, {"식당선택": 0, "제2기숙사": 1, "남문관": 2, "교직원식당": 3, "학관식당": 4 }, {}, class: "form-control", id: "mySelect", onchange: "myFunc();"%>
                </div>

                <div class="form-box">
                  <label for=""><%= @month %> 월 <%= @day %> 일 메뉴</label>
                  <!-- <p id="demo"></p> -->
                  <!-- <textarea id="demo" name="name" rows="8" cols="80" placeholder="콩나물근대된장국 &#13;&#10; 코코넛두부치킨까스(닭가슴살:국내산두부:수입산) &#13;&#10; 비빔국수 &#13;&#10; 마늘쫑햄볶음(햄:돈육:국내산) &#13;&#10; 느타리버섯볶음&#13;&#10; 배추김치 &#13;&#10; 그린샐러드/드레싱 요구르트" disabled></textarea> -->
                  <textarea id="demo" name="name" rows="8" cols="80" placeholder="식당을 선택하세요." disabled></textarea>
                </div>

                <div class="form-box">
                  <label for="">금액: 4200원</label><br>
                  <!-- <label for="">수량: </label> -->
                </div>

                <div class="btn-submit">
                  <%= f.button "구매하기", class: "bg-black registe" %>
                </div>
              </div>
            <!-- </form> -->
            <% end %>
          </div>
          <!-- /.form-sign-in -->
        </div>
        <!-- /.wrap-sign-in -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<script>
  function myFunc() {
    var x = document.getElementById("mySelect").value;
    if ( x == 1) {
      document.getElementById("demo").innerHTML = "[아침] \n 쌀밥 순대국(돈창자:국내산) \n 순살깐풍기(계육:국내산) \n 매쉬드포테이토 \n 부추겉절이 \n 쥐어채볶음/도시락김 \n 포기김치 \n 야채샐러드&드레싱 \n 요구르트 \n \n  [점심] \n 김가루밥 \n 冷)메밀국수 \n 도그*케찹(계육/돈육:국내산) \n 어묵야채볶음 \n 치커리양파무침 \n 포기김치 \n 야채샐러드&드레싱 요구르트 \n \n [저녁] \n 쌀밥 \n 만두김치찌개(돈육:국내산) \n 파채돈까스(돈육:국내산) \n 야채계란찜 \n 콩나물무침 \n 시금치무침 \n 포기김치 \n 야채샐러드&드레싱 \n 요구르트";
    } else if ( x == 2) {
      document.getElementById("demo").innerHTML = "메뉴가 없습니다.";
    }else if ( x == 3) {
      document.getElementById("demo").innerHTML = "[점심] \n 잡 곡 밥 \n 우 거 지 된장국 \n *수 육* \n 양 념 (된장;새우젓) \n 부 추 겉 절 이 \n 양 파 새 콤 \n 열 무 겉 절 이 \n 배 추 김 치 \n 상 추 쌈 \n 양 념 콩 자 반 \n 돌 산 갓 김 치 \n *후 식* \n 매 실 주 스 \n \n [저녁] \n $저 녁$ \n 정 상 영업함니다. ";
    }else if ( x == 4) {
      document.getElementById("demo").innerHTML = "[점심] \n 김밥볶음밥 \n 두부근대된장국(두부:수입산) \n 돈육불고기(돈육:국내산) \n 오징어링튀김/머스타드 \n 가지볶음 \n 참나물초무침 \n 배추김치 \n 그린샐러드/드레싱 \n 요구르트 \n \n [저녁] \n 쌀밥 \n 고추장찌개 \n 미트볼스파게티(돈육:국내산) \n 케이준치킨샐러드(안심:국내산) \n 오이지무침 \n고구마순들깨볶음 \n배추김치 \n그린샐러드/드레싱 \n 요구르트";
    }

    // document.getElementById("demo").innerHTML = "You selected: " + x;
  }
</script>
