<section class="flat-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-sign-in center">
          <h4>Log in</h4>
          <div class="form-sign-in">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- <form action="#" method="post" accept-charset="utf-8"> -->
              <div>
                <div class="form-box">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <!-- /.form-box -->
                <div class="form-box">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
                <!-- /.form-box -->
                <div class="btn-submit">
                  <%= f.button "로그인", class: "bg-black register" %>
                  <!-- <button class="bg-black register" type="button">REGISTER</button> -->
                </div>
                <%= link_to "또는 회원가입", new_user_registration_path, class: "create-account"%>
                <!-- <a href="#" class="create-account" title="">OR SIGN IN</a> -->
              </div>
            <!-- </form> -->
            <% end %>
          </div>
          <!-- /.form-sign-in -->
        </div>
        <!-- /.wrap-sign-in -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>